.container{
  margin-left: 10%;
  margin-right: 10%;
}

.newTweet_Title {
  margin-top: 50px;
  color: blue;
}

.btn-tweet {
    margin-top: 20px;
}

.tweets-title {
  margin-top: 70px;
  color: blue;
}

.tweet {
    color: #0591f8;
    font-size: 1.3rem;
}